<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}

<div class="jumbotron">

     <h1>Please Login here</h1>


     <form class="form-inline" action={% url 'user_login' %} method="post">
       {% csrf_token %}
       <label class="form-control" for="username">Username:</label>
       <input class="form-control" type="text" name="username" placeholder="Enter username">

       <label class="form-control" for="password">Password:</label>
       <input class="form-control" type="password" name="password">

       <input class="btn btn-primary btn-sm" type="submit" name="" value="Login">

     </form>

</div>

{% endblock %}
