{% extends "base.html" %}
{% load bootstrap4 %}

{% block body_block %}

<h3>Banco - <small>Consulta de Transacciones </small></h3>


<div class="container pt-3 " >

 <form class="form-group col-sm-4"  method="post" autocomplete="off">
   {% csrf_token %}

   {% bootstrap_form form layout="horizontal" %}

  <!-- Esto se usa en caso de querer reordenar el formulario
  {% bootstrap_field form.cliente layout="horizontal" %}
  {% bootstrap_field form.tipo layout="horizontal" %}
  {% bootstrap_field form.fecha layout="horizontal" %} -->

  <script>
  $('#datepicker').datepicker({
    showButtonPanel: true,
    dateFormat: "dd/mm/yy",
    beforeShow: function(){
           $(".ui-datepicker").css('font-size', 10)
    }
  });
  </script>

   <div class="container">
     <button type="submit" class="btn btn-primary btn-sm mt-3">Consultar</button>
   </div>
 </form>
</div>


<div class="container pt-3">
    <table class="table table-hover w-auto">
    <thead >
        <th >Nombre</th>
        <th >Genero</th>
        <th >Fecha</th>
        <th >Tipo</th>
        <th >Monto</th>
      </thead>

        {% for t in txs %}
        <tr>
          <td>{{ t.cliente.nombre }} {{ t.cliente.apellido }}</td>
          <td>{{t.cliente.get_sexo_display }}</td>
          <td>{{ t.fecha|date:"d/m/Y" }}</td>
          <td>{{ t.get_tipo_display }}</td>
          <td>{{ t.monto }}</td>

        </tr>

        {% endfor %}
    </table>
    {% include '_pagination.html' %}


</div>

{% endblock %}
